html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Take up the bottom half of the viewport */
}


body {
  background-image: linear-gradient(#fff, #a1a1a1);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-style: none;
}

.wrapper {
  position: absolute;
  bottom: -25vh; /* Position 10vh from the bottom */
  left: 50%;
  transform: translateX(-50%) scale(0.5); /* Center horizontally and scale down */
  width: 15rem;
  height: 30rem;
}

.cake {
  position: absolute;
  bottom: 0;
}

.cake .lyr {
  width: 15rem;
  height: 6rem;
  background-color: currentColor;
  position: absolute;
  border-radius: 7.5rem / 1.5rem;
}

.cake .lyr-1 {
  color: #F1D4AF;
  bottom: 0;
}
.cake .lyr-2 {
  color: #774F38;
  bottom: 3rem;
}
.cake .lyr-3 {
  color: #E08E79;
  bottom: 6rem;
  background-image: radial-gradient(ellipse 7.5rem 1.5rem at 7.5rem 1.5rem, gold, gold 5%, #E99788 100%, transparent);
}

.candle {
  position: absolute;
  bottom: 10rem;
  left: 6.5rem;
  width: 2rem;
  height: 10rem;
  background-color: red;
  border-radius: 1rem / .5rem;
  background-image: repeating-linear-gradient(45deg, white, white 10%, transparent 10%, transparent 20%);
}

.candle::before {
  content: "";
  position: absolute;
  width: .5rem;
  height: 2rem;
  border-radius: .25rem / .15rem;
  background-color: black;
  top: -1.5rem;
  left: .75rem;
}

.candle::after {
  content: "";
  width: 2rem;
  height: 1rem;
  background-color: red;
  display: block;
  border-radius: 50%;
}

.flame {
  position: absolute;
  left: 6.5rem;
}

.wht {
  color: white;
  animation: burn-wht 1.8s;
  box-shadow: 0 0 1rem white;
}
.ylw {
  color: gold;
  top: 1.8rem;
  animation: burn-ylw 1.6s;
  box-shadow: 0 0 1rem gold;
  opacity: .9;
}
.orng {
  color: orange;
  top: 3.6rem;
  animation: burn-orng 0.4s;
  box-shadow: 0 0 1rem orange;
  opacity: .8;
}
.red {
  color: crimson;
  top: 5.4rem;
  animation: burn-red 1s;
  opacity: .7;
}

.smoke {
  color: black;
  top: 8.8rem;
  box-shadow: 0 0 2rem black;
  background-color: currentColor;
  position: relative;
  border-color: currentColor;
  width: .25rem;
  height: .25rem;
  top: 7rem;
  animation-name: burn-smoke;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.smk-1 {
  animation-duration: .5s;
  animation-name: burn-smoke-rev;
  left: .5rem;
}
.smk-2 {
  animation-duration: .6s;
  left: -.5rem;
}
.smk-3 {
  animation-duration: .7s;
  animation-name: burn-smoke-rev;
  left: 1rem;
}
.smk-4 {
  animation-duration: .8s;
  left: 1.5rem;
}
.smk-5 {
  animation-duration: .9s;
  left: 2rem;
}

.flm-part {
  background-color: currentColor;
  border-radius: 50%;
  position: relative;
  transform: rotate(60deg) skewX(0deg) scale(1);
  border-color: currentColor;
  width: 2rem;
  height: 2rem;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.flm-part.flipped {
  transform: rotate(120deg) skewX(0deg) scale(1);
}

.flm-part::before {
  content: "";
  position: absolute;
  border-radius: 0 0 0 100%;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  height: .5rem;
  width: 2rem;
  left: -1rem;
  top: -.5rem;
  border-bottom-width: 2rem;
}

.flm-part.flipped::before {
  border-radius: 100% 0 0 0;
  border-bottom: 0 solid transparent;
  border-top-style: solid;
  border-top-color: inherit;
  border-top-width: 2rem;
  height: .5rem;
  width: 2rem;
  left: -1rem;
  top: 0;
}

@keyframes burn-wht {
  0% {
    transform: rotate(60deg) skewX(0deg) scale(1);
  }
  20% {
    transform: rotate(50deg) skewX(-3deg) scale(1.1);
  }
  40% {
    transform: rotate(60deg) skewX(0deg) scale(1);
  }
  60% {
    transform: rotate(70deg) skewX(3deg) scale(1.1);
  }
  100% {
    transform: rotate(60deg) skew(0deg) scale(1);
  }
}

@keyframes burn-ylw {
  0% {
    transform: rotate(120deg) skewX(0deg) scale(1.4);
  }
  20% {
    transform: rotate(110deg) skewX(10deg) scale(1.5);
  }
  40% {
    transform: rotate(120deg) skewX(0deg) scale(1.4);
  }
  60% {
    transform: rotate(130deg) skewX(-10deg) scale(1.5);
  }
  100% {
    transform: rotate(120deg) skew(0deg) scale(1.4);
  }
}

@keyframes burn-orng {
  0% {
    transform: rotate(65deg) skewX(0deg) scale(1.6);
  }
  20% {
    transform: rotate(60deg) skewX(-15deg) scale(1.7);
  }
  40% {
    transform: rotate(65deg) skewX(0deg) scale(1.6);
  }
  60% {
    transform: rotate(70deg) skewX(2deg) scale(1.7);
  }
  100% {
    transform: rotate(65deg) skew(0deg) scale(1.6);
  }
}

@keyframes burn-red {
  0% {
    transform: rotate(120deg) skewX(0deg) scale(1.8);
  }
  20% {
    transform: rotate(118deg) skewX(5deg) scale(2);
  }
  40% {
    transform: rotate(120deg) skewX(0deg) scale(1.8);
  }
  60% {
    transform: rotate(122deg) skewX(-5deg) scale(2);
  }
  100% {
    transform: rotate(120deg) skew(0deg) scale(1.8);
  }
}

@keyframes burn-smoke {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(4);
    opacity: 0;
    top: 0;
  }
}

@keyframes burn-smoke-rev {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg) scale(5);
    opacity: 0;
    top: 0;
  }
}


.song {
  visibility: hidden;
}

.container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  visibility: hidden;
  width: 100vw;
}

.container > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  border: 3px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 600px;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  background-color: rgb(21, 161, 237);
  border-radius: 3px;
  bottom: -50px;
  color: #fff;
  padding: .5rem 1rem;
  position: absolute;
  right: 5px;
}

.five p {
  font-size: 2rem;
  left: 0;
  position: absolute;
  right: 0;
}

.idea-3 span {
  font-size: calc( 1em + 7vmin );
  font-weight: 900;
  color: tomato;
   
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span{
  font-size: calc( 1em + 3vmin );
  font-weight: 900;
  color: tomato;
   
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);

}


.idea-6 span, .wish-hbd span {
  display: inline-block;
}

.idea-6 span{
  font-size: 15rem;
}


.six {
  position: relative;
  top: 10vh;
  z-index: 1;
}

.six img {
  display: inline-block;
  height: 350px;
  max-width: 100%;
  /* height: auto; */
}

.six .hat {
  left: 41.5%;
  position: absolute;
  /* transform: scale(0.1); */
  top: -35%;
  width: 80px;
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.seven, .eight {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.eight svg {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 25px;
  z-index: -1;
}

.eight svg:nth-child(1) {
  fill: #bd6ecf;
  left: 5vw;
  top: 7vh;
}

.eight svg:nth-child(2) {
  fill: #7dd175;
  left: 35vw;
  top: 23vh;
}

.eight svg:nth-child(3) {
  fill: #349d8b;
  left: 23vw;
  top: 33vh;
}

.eight svg:nth-child(4) {
  fill: #347a9d;
  left: 57vw;
  top: 43vh;
}

.eight svg:nth-child(5) {
  fill: #c66053;
  left: 7vw;
  top: 68vh;
}

.eight svg:nth-child(6) {
  fill: #bfaa40;
  left: 77vw;
  top: 42vh;
}

.eight svg:nth-child(7) {
  fill: #e3bae8;
  left: 83vw;
  top: 68vh;
}

.eight svg:nth-child(8) {
  fill: #8762cb;
  left: 37vw;
  top: 86vh;
}

.eight svg:nth-child(9) {
  fill: #9a90da;
  left: 87vw;
  top: 94vh;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 10px 0 0;
}

#wishText{
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 10px 0 0;
}


.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  cursor: pointer;
  z-index: 3;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    bottom: -38px;
    right: 5px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    /* top: -20px; */
    width: 50px;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}

.name {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

